* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, li, a {
    text-decoration: none;
    list-style: none;
}

.d-flex {
    display: flex;
}

#header {
    justify-content: space-around;
    padding: 2rem 2rem;
}

#li-item {
    padding: 0 1rem;
}

#li-item:last-child {
    padding-right: 0;
}